@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Home Page</h1>
    @*<h1><img src="~/css/Welcome.jpg" alt="Image" class="img-fluid" style="width: 1000px; border-radius: 10px;" /></h1>*@
    <h1>
        <img src="https://static.vecteezy.com/system/resources/previews/001/936/177/non_2x/welcome-screen-landing-page-template-free-vector.jpg" alt="Image" class="img-fluid" style="width: 1000px; border-radius: 10px;" />
    </h1>
</div>
