
@{
    ViewData["Title"] = "AdminDashboard";
}

<h1>Admin Dashboard</h1>

@*<h1><img src="~/css/dash.jpg" alt="Image" class="img-fluid" style="width: 1000px; border-radius: 10px;" /></h1>*@
<h1><img src="https://img.freepik.com/premium-vector/infographic-dashboard-template-simple-green-blue-design-interface-admin-panel-with-graphs-chart-diagrams-vector-infographics_53562-9185.jpg?w=2000"
         alt="Image" class="img-fluid" style="width: 1000px; border-radius: 10px;" />
</h1>