<footer class="border-top footer text-muted">
    <div class="container">
        &copy;Routing and Navigation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>