
@{
    ViewData["Title"] = "UserDashboard";
}

<h1>User Dashboard</h1>



@*<h1><img src="~/css/user.jpg" alt="Image" class="img-fluid" style="width: 1000px; border-radius: 10px;" /></h1>*@
<h1><img src="https://img.freepik.com/free-vector/dashboard-user-panel-template_52683-29590.jpg?w=740&t=st=1663511334~exp=1663511934~hmac=df74ec22bffc3ce79eb37015a908973576974c8540400bf9faa2855965532d0d"
         alt="Image" class="img-fluid" style="width: 1000px; border-radius: 10px;" />
</h1>